
body {
    font-family: Helvetica, Arial,sans-serif;
    background-color: #181818;
    color: #fffef5;
    padding-left: 60px;
    padding-right: 60px;
}

body img {
    width: 500px;
}

body p {
    font-size: large;
}