body {
  background-color: #1c1c1c;
  color: #fffff2;
  font-family: Arial, Helvetica, sans-serif;
}

.desktop {
  padding: 2%;
  margin-top: -3%
}

.desktop #logo {
  width: 24%;
  margin-bottom: -3%;
}

.desktop #content {
  margin-top: 2%;
  border-top: #25ff25;
  border-top-style: solid;
  border-width: 2px;
  border-radius: 0px;
}

.desktop #content h1 {
  color: #ff0000;
  font-size: 400%;
}

.desktop #content p {
  font-size: 130%;
}

.desktop #content a {
  color: #25ff25;
}

.mobile {
  padding: 20px;
}

.mobile #logo {
  width: 500px;
  margin-bottom: -15px;
}

.mobile p {
  padding-top: 30px;
  border-top: #000000;
  border-top-style: solid;
  border-width: 6px;
  border-radius: 2px;
  font-size: 43px;
}

.mobile .error {
  color: #ff0000;
}

.mobile .link {
  color: #15ff00;
}