body {
  background-color: #141414;
  color: #ffffea;
  font-family: Arial, Helvetica, sans-serif;
}

.desktop {
  padding: 2%;
  margin-top: -3%
}

.desktop #logo {
  width: 20%;
  margin-top: 2%;
  margin-bottom: -1%;
}

.desktop #content {
  margin-top: 2%;
  border-top: #25ff25;
  border-top-style: solid;
  border-width: 2px;
  border-radius: 0px;
}

.desktop #content h1 {
  color: #ff0000;
  font-size: 400%;
}

.desktop #content p {
  font-size: 130%;
}

.desktop #content a {
  color: #25ff25;
}

.mobile {
  padding: 2.7%;
  padding-top: 2%;
}

.mobile #logo {
  width: 35%;
}

.mobile #content {
  margin-top: 2%;
  border-top: #25ff25;
  border-top-style: solid;
  border-width: 6px;
  border-radius: 0px;
}

.mobile #content h1 {
  color: #ff0000;
  font-size: 470%;
}

.mobile #content p {
  font-size: 250%;
}

.mobile #content a {
  color: #25ff25;
}